/app/build/
/.gradle/
/EnglishLexicon.zip
/local.properties
libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_0_beta6_jar.xml
libraries/Gradle__androidx_core_core_1_2_0_aar.xml
/.idea