<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="com.myapp.lexicon"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">

        <activity
            android:name=".main.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".main.SplashScreenActivity"
            tools:targetApi="jelly_bean">
            <intent-filter android:label="@string/app_name" android:autoVerify="true"
                           tools:targetApi="m">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="com.myapp.lexicon" android:pathPrefix="/lexicon"/>
            </intent-filter>
         </activity>

        <activity
            android:name=".addword.AddWordActivity"
            android:label="@string/title_activity_add_word"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"/>
        </activity>

        <activity
            android:name=".wordeditor.WordEditor"
            android:label="@string/title_activity_word_editor"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"
                />
        </activity>

        <activity
            android:name=".wordstests.Tests"
            android:label="@string/title_activity_check_self"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"/>
        </activity>

        <activity
            android:name=".playlist.PlayList"
            android:label="@string/title_activity_play_list"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"/>
        </activity>


        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <service
            android:name=".main.SpeechService"
            android:enabled="true"
            android:exported="false">
        </service>

        <service android:name=".appindex.AppIndexingService"
                 android:enabled="true"
                 android:exported="true"
                 android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX" />
            </intent-filter>
        </service>

    </application>

</manifest>