# Default ignored files
/workspace.xml
/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_0_beta6_aar.xml
/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_0_beta6_jar.xml
/libraries/Gradle__androidx_core_core_1_2_0_aar.xml
/libraries
